.all-bike-shop-root{
    .shop-logo-image-container{
        width: 130px;
        // background: url('/images/default-bike.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;
        // background-color: red;
        height: 125px;
        
    }
}