.landing-page-root {
    width: 80%;
    margin: auto;

    // ONE STOP CARDS SECTION
    .bike-hub-basic-card {
        cursor: pointer;
    }

    // FEATURED BIKES SECTION
    .budget-bikes-root {
        width: 100%;
        margin: auto;
    }

    .slick-carousel-container {

        .slick-prev:before,
        .slick-next:before {
            color:black;
        }
    }

    .common-section-mergin {
        margin-top: 5em;
        margin-bottom: 5em;
    }

}