.landing-page-root {
    width: 80%;
    margin: auto;

    // ONE STOP CARDS SECTION
    .bike-hub-basic-card {
        cursor: pointer;
    }

    // FEATURED BIKES SECTION
    .budget-bikes-root {
        width: 100%;
        margin: auto;
        margin-bottom: 10%;
    }

    .product-discount {
        background: red;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 50%;
        font-size: 12px;
    }

    .slick-carousel-container {

        .slick-prev:before,
        .slick-next:before {
            color: red;
        }
    }

}