@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import './components/auth/auth.scss';
@import './components/common/carousel.scss';
@import './components/common/navbar.scss';
* {
	box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}