@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "./components/auth/auth.scss";
@import "./components/common/carousel.scss";
@import "./components/common/navbar.scss";
@import "./components/common/logo.scss";
@import "./components/landingPage.scss";
@import "./components/common/color.scss";
@import "./components/common/index.scss";
@import "./components/common/footer.scss";
@import "./components/common/productCard.scss";
@import "./components/allUsedBikes/allUsedBikes.scss";
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f3f8 !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: black red;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0px;
  // border: 1px solid #fff;
}
