@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import './components/auth/auth.scss';
@import './components/common/carousel.scss';
@import './components/common/navbar.scss';
@import './components/common/banner.scss';
@import './components/common/logo.scss';
@import './components/landingPage.scss';
@import './components/common/color.scss';
@import './components/common/index.scss';
@import './components/common/footer.scss';
@import './components/common/product-card.scss';
@import './components/all-used-bikes/all-used-bikes.scss';
@import './components/all-used-bikes/shops.scss';

* {
	box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}

.common-button-1{
  width: 10em;
  height: 3em;
  background: $gradient;
  border: none;
  color: white;
  border-radius: 3px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: black darkred;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ddd;
  }

  *::-webkit-scrollbar-thumb {
    background-color: darkred;
    border-radius: 0px;
    // border: 1px solid #fff;
  }