button, input:focus {
  box-shadow: none !important;
}

.ant-select-selector, .ant-input-affix-wrapper {
  box-shadow: none !important;
}

.ant-submenu-popup {
  top: 140px !important;
}

.ant-submenu-popup ul {
  min-width: 250px !important;
  height: 450px !important;
}