.common-card-root{
    width: 80%;
    margin: auto;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    h1{
        font-weight: 600;
    }
    .card-inner{
        transition: .5s;
    }
    .card-inner:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: .5s;
    }
    .common-card-icon{
        font-size: 60px;
        text-align: center;
    }
}