// for select and search
$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, black, green);
$option: #320a28;

.slick-carousel-container {
  position: relative;
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  .slick-dots li button:before {
    font-size: 15px;
  }
}
