// $bike-hub-gradient-color: linear-gradient(to right, black, green);
$bike-hub-primary-color: black;
$bike-hub-secondary-color: red;
.bike-hub-primary-font-color {
  color: black;
}
.bike-hub-primary-background-color {
  background-color: $bike-hub-primary-color;
}

.bike-hub-secondary-font-color {
  color: $bike-hub-secondary-color;
}

.bike-hub-secondary-background-color {
  background-color: $bike-hub-secondary-color;
}
