$bike-hub-gradient-color: linear-gradient(to right, #384569, #542d2d);
$bike-hub-primary-color: #384569;
$bike-hub-secondary-color: #542d2d;

.bike-hub-gradient-color {
    background: linear-gradient(to right, #384569, #542d2d);
}

.bike-hub-font-color-1 {
    color: #384569;
}

.bike-hub-font-color-2 {
    color: #542d2d;
}

.bike-hub-bg-color-1 {
    background-color: #384569;
}

.bike-hub-bg-color-2 {
    background-color: #542d2d;
}