$bike-hub-gradient-color: linear-gradient(to right, black, darkred);
$bike-hub-primary-color: black;
$bike-hub-secondary-color: darkred;

.bike-hub-gradient-color {
    background: linear-gradient(to right, black, darkred);
}

.bike-hub-font-color-1 {
    color: black;
}

.bike-hub-font-color-2 {
    color: darkred;
}

.bike-hub-bg-color-1 {
    background-color: black;
}

.bike-hub-bg-color-2 {
    background-color: darkred;
}