.font-weight-bold {
    font-weight: bold;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start-all {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}