.top-nav-root {
    background: linear-gradient(to right, black, darkred);
    // background: linear-gradient(to right, #aa076b  , #61045f);
     color: white;
    text-transform: uppercase;

    .top-nav-logo-name {
        position: relative;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
    }

    .top-nav-login-text {
        position: relative;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bike-logo {
        border: 1px solid #ddd;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        // margin-right: 10px;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}