// ======== background colors ===========
.layout-bg {
    background-color: #E2E8F0 !important;
}

.primary-bg {
    background-color: #059669 !important;
}

.secondary-bg {
    background-color: @app-secondary-color;
}

.third-bg {
    background-color: @app-third-color;
}

.fourth-bg {
    background-color: @app-fourth-color;
}

.fifth-bg {
    background-color: @app-fifth-color;
}

.sixth-bg {
    background-color: @app-sixth-color;
}

.black-bg {
    background-color: black;
}

.white-bg {
    background-color: white !important;
}


// ======== font colors ========
.primary-font-color {
    color: @app-primary-color;
}

.secondary-font-color {
    color: @app-secondary-color;
}

.third-font-color {
    color: @app-third-color;
}

.fourth-font-color {
    color: @app-fourth-color;
}

.fifth-font-color {
    color: @app-fifth-color;
}

.sixth-font-color {
    color: @app-sixth-color;
}

.font-white {
    color: white;
}


// ========= Font Weights =============
.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 600;
}


// ======= borders =========
.border-radius-20 {
    border-radius: 20px;
}

.border-solid-1px {
   border: 1px solid #E2E8F0; 
}


// ======== width ==========
.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

//=== Layout content padding ===
.layout-content-padding {
    padding: 3%;
}

.ant-carousel .slick-dots {
    z-index: 1;
}
